/**
 * CUSTOM CSS
 *
 * Here you can add your custom CSS code.
 */

a {
	color: #000000;
}

.t-social-button .fab {
	color: #c6c6c6;
}

.t-social-button:hover .fab {
	color: #F8BB10;
}

/* Transition */
a,
button,
a .fa,
.t-link-container .t-link-container__item,
.t-link-container .t-link-container__item--blended {
  transition: none;
}

.c-work__timeframe, .c-work__location {
	opacity: 1;
	font-size: inherit;
}

.c-work__title {
	font-size: inherit;
}

.list-experience {
	margin-right: 0;
	margin-left: 0;
}
